<body>
    <h1 class="title">Perfil</h1>

<!-- to do -> botar valores reais aqui -->
    <div class="container">
        <div class="section">
            <div class="icon">
                <img src="../../../images/user.png" alt="Ícone do Usuário">
            </div>
            <div class="name">
              <h2>{{nomeUsuario}}</h2>
            </div>
        </div>

        <div class="section" style="flex: 2;">
            <h2>Histórico de Listas</h2>
            <div class="cards">
                <div class="card">
                    Card 1
                </div>
                <div class="card">
                    Card 2
                </div>
            </div>
        </div>
    </div>

</body>
