<div class="banner">
    <h1>ECONOMIZAR<br>PARA UMA<br>BOA COMPRA</h1>
</div>
<div class="icon-banner">
    <div class="icon">
        <img src="../../../images/cesta.png" alt="Cesta de compras">
        <p>Comparação de preços</p>
    </div>
    <div class="icon">
        <img src="../../../images/tempo.png" alt="Relógio">
        <p>Otimização de tempo</p>
    </div>

    <div class="icon">
        <img src="../../../images/localizacao.png" alt="Localização">
        <p>Encontre os melhores preços na sua região</p>
    </div>

    <div class="icon">
        <img src="../../../images/money-bag.png" alt="Dinheiro">
        <p>Economize em suas compras</p>
    </div>

    <div class="icon">
        <img src="../../../images/smartphone.png" alt="Celular">
        <p>Acesso fácil e rápido via aplicativo ou site</p>
    </div>
</div>

<div class="content">
    <div class="left">
        <img src="../../../images/finance.png" alt="Finanças" style="width: 200px;">
    </div>
    <div class="right">
        Basta inserir o produto desejado e nosso
        sistema busca automaticamente os melhores preços em sua região. Comparamos ofertas de diversas lojas para
        garantir que você encontre a melhor oferta disponível. Mantenha-se informado sobre as tendências de preços e
        desfrute de uma experiência de compra segura e conveniente, acessível tanto pelo computador quanto pelo
        smartphone. Comece agora e descubra como podemos ajudá-lo a fazer compras mais conscientes e vantajosas.
    </div>

</div>