<div class="bottom-bar">
    <div style="display: flex; justify-content: space-between; padding: 0 20%;">
      <div>
        <p><a href="#" target="_blank" style="text-decoration: none; color: black;">Quem somos</a></p>
        <p><a href="#" target="_blank" style="text-decoration: none; color: black;">Políticas de Privacidade</a></p>
      </div>
      <div>
        <p>Fale Conosco:</p>
        <a href="#" target="_blank"><img src="./../../images/instagram.png" style="height: 32px;"></a>
        <a href="#" target="_blank"><img src="./../../images/whatsapp.png" style="height: 32px;"></a>
      </div>
    </div>
    <div style="display: flex; gap: 10px; align-items: center; justify-content: center;"><h2>Desenvolvido por Grupo 2</h2>
    <a href="#" target="_blank"><img src="../../../images/github.png" style="height: 32px;"></a></div>
  </div>
  